html {
  background-color: aliceblue;
}

html,body {
  display: flex;
  flex-direction: row;
}

div.container {
  display: flex;
  flex-direction: column;

}



.output {
    width: 300px;
    height: 100px;
    background-color: white;
    text-align: left;
}

.calculator-grid {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
    
    }


.span-two {
    grid-column: span 2;
    
}



